#Ignore all credentials
Credenciales.py
#Ignore all the cache
**/__pycache__/
#Ignore Assets
/assets
#Ignore Virtual Environment
DashEnv/
#Ignore all the logs
*.log
#Ignore all the data
*.csv
#Ignore enviroment variables
.env